networks:
  queue-network: {}

services:
  linkra-server:
    build:
      context: ../..
    ports:
      - 8321:8080
    volumes:
      - ../../storage.db:/mnt/storage.db:rw
    depends_on:
      - valkey
    networks:
      queue-network: {}
    environment:
      - DB_PATH=/mnt/storage.db
      - VALKEY_ADDR=queue
      - VALKEY_PORT=6379
      - SERVER_ADDRESS=0.0.0.0:8080
      - SERVER_HOST=10.3.0.122:8321

  linkra-worker:
    build:
      context: ../../workers/scoop-worker
    volumes:
      - ./worker-config.json:/app/config.json:ro
      # Path to archive directory goes here if you wish to save the files
    networks:
      queue-network: {}
    depends_on:
      - valkey
    restart: on-failure:3

  valkey:
    image: valkey/valkey:8.0-alpine
    command: >
      valkey-server
      --save 60 1
    networks:
      queue-network:
        aliases:
          - queue
