package components

type ErrorViewData struct {
	Title string
	Code string
	Description string
	ShortMessage string
}

func NewErrorViewData(title, code, description, shortMessage string) *ErrorViewData {
	return &ErrorViewData{
		Title: title,
		Code: code,
		Description: description,
		ShortMessage: shortMessage,
	}
}

templ errorView(data *ErrorViewData) {
	<div class="flex-content-column">
		<h2>{ data.Code } { data.Description }</h2>
		<p>{ data.ShortMessage }</p>
	</div>
}